<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="../Content/Site.css" rel="stylesheet" />

    <base href="/" />
</head>
<body class="container-fluid" ng-app="LottoApp" ng-controller="homeController">
    <div class="navbar navbar-inverse navbar-fixed-top navbar-collapse collapse col-lg-12">
        
        <div class="col-md-12">
            <div class="col-md-3 right">
                <form ng-submit="getDistances(selectedNumberStat)">

                    <label for="ddl2" class="text-info text">Statistics:</label>
                    <select id="ddl2" class="ddl form-horizontal form-inline" ng-model="selectedNumberStat" ng-options="ns.id as ns.name for ns in numberStatistics | orderBy: 'ns.id'"></select>
                    <input class="btn btn-info btn-primary" id="submit2" type="submit" value="Submit" />


                </form>
            </div>
            <div class="col-md-9 right">
                <form ng-submit="getRange(lottoId)">

                    <select class="ddlLonger form-horizontal form-inline" ng-model="selectedStat"  ng-options="stat.id as stat.name for stat in statistics"></select>
                    <label for="ddl1" class="text-info text">Start Draw:</label>
                    <select id="ddl1" class="ddlShorter form-horizontal form-inline" ng-model="selectedPastDraws" ng-options="draw for draw in pastDraws | orderBy: 'draw'"></select>
                    <label for="ddl3" class="text-info text">Lottos:</label>
                    <select id="ddl3" class="ddlLonger form-horizontal form-inline" ng-model="lottoId" ng-options="lotto.id as lotto.name for lotto in lottos | orderBy: 'lotto.id'"></select>
                    <input class="btn btn-info btn-primary" id="submit" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </div>
    <img class="irc_mi" src="https://media.giphy.com/media/npCmk0VCFHyUM/giphy.gif" ng-show="loading">
    <div class="mainContent" ng-view>
        
    </div>
    <div ng-show="ProcessTime != null"></div>
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-resource.min.js"></script>
    <script src="../Scripts/angular-route.min.js"></script>
    <script src="../Scripts/app/LottoApp.js"></script>
</body>
</html>
