<div class="container-fluid" ng-controller="homeController" ng-init="getRange(2, selectedStart)">
    <br />
    <hr />
    <form ng-submit="getRange(2, selectedStart)">
        <div class="container-fluid col-lg-12">
            <select class="ddlLonger form-horizontal form-inline" ng-model="selectedStat" ng-options="stat.id as stat.name for stat in statistics"></select>
            <label for="ddl" class="text-info te">Select a start draw:</label>
            <select id="ddl" class="ddl form-horizontal form-inline" ng-model="selectedStart" ng-options="draw for draw in startDraws | orderBy: 'draw'"></select>
            <input class="btn btn-info btn-primary" id="submit" type="submit" value="Submit" />

        </div>
    </form>
    <div class="form-horizontal col-lg-12">
        <img class="irc_mi" src="https://media.giphy.com/media/npCmk0VCFHyUM/giphy.gif" ng-show="loading">
        <!--<div class="spinner1" ng-show="loading"></div>-->

        <table class="table-striped table-responsive">
            <caption class="caption">Rang of draws with full number statistics</caption>
            <tr>
                <th>Draw Number</th>
                <th>Draw Date</th>
                <th ng-repeat="col in rows[0]">{{col.Number}}</th>
            </tr>
            <tr ng-repeat="row in rows">

                <td class="lotto">{{row[0].DrawNo}}</td>
                <td class="lotto">{{row[1].DrawDate | date:'yyyy-MM-dd' }}</td>
                <td ng-repeat="col in row">
                    <span ng-show="col.isHit" class="hit">
                        {{col.Number}} 
                        <span class="saveddistance">({{col.SavedDistance}})</span>
                        <span class="frequency">({{col.Frequency}})</span>
                    </span>
                    <span ng-show="!col.isHit">
                        {{col.Number}} 
                        <span class="distance">({{col.Distance}})</span>
                        <span class="frequency">({{col.Frequency}})</span>
                    </span>
                </td>
            </tr>
            <tr>
                <th>Draw Number</th>
                <th>Draw Date</th>
                <th ng-repeat="col in rows[0]">{{col.Number}}</th>
            </tr>
        </table>
        <div class="text-info notes">Notes: Number (x) (y) -> x: distance since last hit, y: hit frequency since first draw</div>
    </div>
    <br />
    
    <div class="col-lg-12 errors" ng-show="error != ''">{{error}}</div>
</div>
