<div class="container-fluid" ng-controller="homeController" >
    <br />
    <hr />  
    <div class="form-horizontal col-lg-12">
        <table class="scroll table-striped table-responsive">
            <caption class="caption">Number of hit falling in distance range (<= 10)</caption>
            <thead>
                <tr>
                    <th class="lotto">Draw Number</th>
                    <th class="lotto">Draw Date</th>
                    <th ng-repeat="col in distanceCols">{{col}}</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in rows">

                    <td class="lotto">{{row.DrawNumber}}</td>
                    <td class="lotto">{{row.DrawDate | date:'yyyy-MM-dd' }}</td>
                    <td ng-repeat="col in distanceCols">
                        <span ng-show="row.dic[col] > 0" class="hit">
                            {{row.dic[col]}}
                        </span>
                        <span ng-show="row.dic[col] == 0">
                            {{row.dic[col]}}
                        </span>
                    </td>
                    <td><span class="total">{{row.Total}}</span></td>

                </tr>
                <tr>
                    <th class="lotto">Draw Number</th>
                    <th class="lotto">Draw Date</th>
                    <th ng-repeat="col in distanceCols">{{col}}</th>
                    <th>Total</th>
                </tr>
            </tbody>
        </table>
        <div class="text-info notes">Notes: 1 - 10 are distance range under each is number of hit(s) falling in for each draw</div>
        <div class="text-info notes" ng-show="ProcessTime != undefined">Rendering time: <span class="alert-info">{{ProcessTime}}</span> sec</div>
    </div>
    <div class="col-lg-12 errors" ng-show="error != ''">{{error}}</div>
</div>