body {
    width: 100%;
    margin-right:2px!important;
}

.container {
    width: 100%;
}


.table th {
    font-size: .9em;
}

table td {
    font-size: .8em;
}


.table .caption {
    font-size: .8em;
    text-align: left;
    color: #fa5858;
}

.table-striped > thead {
    background-color: #e3ebf0;
}


.table-striped > tbody > tr:nth-child(odd) > td,
tr.found {
    background-color: #e3ebf7;
}

.table-striped > tbody > tr:nth-child(even) > td,
tr.found {
    background-color: #cfdfeb;
    margin:10px;
}



.table > th, td {
    border-left: 1px solid #fff;
    border-left: 1px solid rgba(255,255,255,.65);
    padding: .3em .5em .3em !important;
    line-height: 1.5;
    text-align: left;
    vertical-align: top;

}

label {
    font-size: 0.7em;
}


.date-form {
    margin: 10px;
    font-size: 0.9em;
    z-index:10;
}

    .date-form input {
        font-size: 0.9em;
        color: brown;
    }

label.control-label span {
    cursor: pointer;
}

.errors {
    background-color: red !important;
    color: aliceblue;
    font-weight: bold;
}

.infos {
    background-color: forestgreen !important;
    color: white;
}

.warnings {
    background-color: yellow !important;
    color: red;
    font-weight: bold;
}

.ids {
    color: crimson;
    font-style: italic;
    font-weight: bold;
}


.content {
    margin-top: 50px;
}

div.navbar {
    z-index: 1000;
}

.date-picker {
    z-index: 1;
}

.plusSign {
    font-size: 1.2em;
}

.itemName {
    color: forestgreen;
    font-weight: bold;
}

.title {
    color: cadetblue;
    text-align: center;
    margin: 15px;
}

.errorLink {
    color: red;
}

.alert {
    font-weight: bold;
}

.searches {
    float: right;

    margin-top: 55px;
}

div.text-center a {
    font-size:.8em;

}

.hit{
    color:red;
    font-weight:bold;
    background-color:yellow;
    background-size:auto;
    padding:8px;
   
}

.nohit{
 
    font-weight:bold;
    background-color:antiquewhite;
    background-size:auto;
    padding:10px;
   
}


table {
  border-spacing: 2.5rem;
  white-space:nowrap;
  width: 900px; 
  table-layout:fixed;
}

td, th {
  width: 10rem;
  height: 4rem;
  border: 3px  #ccc;
  text-align: center;
  
}

td 
{
    color:coral;

    font-size:1em!important;
    vertical-align:middle;
}

th
{
    color:brown;
    background-color:antiquewhite!important;
   
}

.right
{
    float:right;
    margin-top:8px;
  
}

.caption
{
    text-align:left;
    font-style:italic;
    font-weight:bold;
    font-size:.8em;
    color:cadetblue;
}

.distance {
    color:blueviolet;
    font-size:.8em!important;
    font-style:italic;
    font-weight:bold;
}

.frequency {
    color:darkgreen;
    font-size:.8em!important;
    font-style:italic;
}

.saveddistance {
    color:forestgreen;
    font-size:.8em!important;
    font-style:italic;
}

.lotto{
    color:chocolate;
}



.ddl
{
    width:100px;
    display:contents; 
    padding:6px 12px;
    font-size:0.8em;
    line-height:1.4285;
    color:#555555;
    vertical-align:middle;
    background-color:#ffffff;
    border:1px solid #cccccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; 
    transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; 

}
.btn
{
    width:80px;
    font-size:0.8em;
    padding:5px 10px;
}

.ddlLonger
{
    width:250px;
    display:contents; 
    
    padding:6px 12px;
    font-size:0.8em;
    line-height:1.4285;
    color:#555555;
    vertical-align:middle;
    background-color:#ffffff;
    border:1px solid #cccccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; 
    transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; 

}

label
{
    font-size:0.8em;

}
.irc_mi {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align: center;
    z-index: 1;
    width: 140px; /* width of the spinner gif */
    height: 140px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.total{
    color:red;
    font-style:italic;
}


.notes{
    font-size:0.8em;
    font-style:italic;
}


/*.scroll {
  border: 0;
  border-collapse: collapse;
}

.scroll tr {
  display: flex;
}

.scroll td {
  padding: 3px;
  flex: 1 auto;
  border: 1px solid #aaa;
  width: 1px;
  word-wrap: break;
}

.scroll thead tr:after {
  content: '';
  overflow-y: scroll;
  visibility: hidden;
  height: 0;
}

.scroll thead th {
  flex: 1 auto;
  display: block;
  border: 1px solid #000;
}

.scroll tbody {
  display: block;
  width: 100%;
  overflow-y: auto;
  height: 200px;
}*/
